/*=========================
  Modal
 ================= */
.modal-full {
	width: 100%;
}

/*=========================
  DataTable
 ================= */
table img {
	max-height:200px;
}
.table-img-wrapper {
	text-align: center;
}

/*=========================
  Loader
 ================= */

.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(240, 240, 240, 0.7);
	opacity: 0;
	visibility: hidden;
	z-index: 999;
}
.loader.active {
	opacity: 1;
	visibility: visible;
}
.loader .loader-spinner {
	display: inline-block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.loader-spinner {
  overflow: visible;
  opacity: 0;
}
.loader-line {
  stroke: #0083FF;
  stroke-width: 10;
  stroke-dasharray: 120, 37;
  stroke-linecap: square;
  stroke-linejoin: round;
  fill: transparent;
}
.loader-arrow {
  fill: #0083FF;
}
.loader-tick, .loader-wrong {
  opacity: 0;
}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-network.social-circle a {
 background-color: #D3D3D3;
 margin: 0px 0px 10px 0px;
}

/*=========================
  Badge app icon
 ================= */
.app-icon-item {
	max-width: 200px;
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.icons img, .icons .mask {
	width: 100%;
	height: 100%;
	border-radius: 24%;
}

.icons a {
	text-decoration: none;
	display: inline-block;
	position: relative;
}
/*Now we will create fish-eye shapes using pseudo elements and clip them to add a curve to the sides of the icons*/
.icons a:before, .icons a:after  {
	content: '';
	position: absolute; left: 0; top: 0;
	width: 100%; height: 100%;
	background: inherit;
	border-radius: 100%; /*circle*/
	/*time to transform the circle into fish-eye shape. iOS7 style now.*/
	-webkit-transform: scaleX(2) scaleY(1.05);
	transform: scaleX(2) scaleY(1.05);
	/*clipping the left and right sides - 17px from the left and right*/
	clip: rect(0, 66px, 100px, 34px);
	/*pushing it behind the icon*/
	z-index: -1;
}
/*duplicating the :before element and rotating it 90deg and swapping the X/Y transforms*/
.icons a:after {
	-webkit-transform: scaleY(2) scaleX(1.05) rotate(90deg);
}
.notify-badge{
	position: absolute;
	z-index:2;
	right:-20px;
	top:10px;
	background:red;
	text-align: center;
	border-radius: 30px 30px 30px 30px;
	color:white;
	padding:5px 10px;
	font-size:20px;
}

.hm-red-light .mask,
.hm-red-light .full-bg-img {
	background-color: rgba(244, 67, 54, 0.3);
}

.hm-green-light .mask,
.hm-green-light .full-bg-img {
	background-color: rgba(76, 175, 80, 0.3);
}
.hm-black-light .mask,
.hm-black-light .full-bg-img {
	background-color: rgba(0, 0, 0, 0.3);
}

.overlay:hover .mask {
	opacity: 1;
}

.overlay img, .overlay video {
	transition: all 0.2s linear;
}

.overlay .mask {
	opacity: 0;
	transition: all 0.4s ease-in-out;
}
.view {
	overflow: hidden;
	position: relative;
	cursor: default;
}
.view .mask,
.view .content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.view img, .view video {
	display: block;
	position: relative;
}
.view .mask {
	background-attachment: fixed;
}

/*=========================
  JS function
 ================= */
.js-hide {
	display: none !important;
}

/*=========================
  WeQuid Icon
 ================= */
.icon-wequid {
	height: 20px;
	width: 20px;
}

.icon-wequid:before {
	background: url('../images/wequid-blue.svg') center center no-repeat;
	background-size: 20px;
	content: '';
	display: inline-block;
	height: 20px;
	width: 20px;
}

.player-skirama-pin {
	position: absolute;
	transform: translate(-50%, -50%);
	width:10px;
	height:10px;
	z-index:100;
	background-color:green;
	border: 1px solid white;
	border-radius: 50%;
}
