/*
Webcam Library v1.0
Author:			Massimiliano Giorgio Gasti
Author URI:		http://wequid.com
Date:				2018-02-08T10:00Z
Version:			1.0.0
Copyright:		(c) 2017-2020 wequid srl
*/

* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #000;
}
.webcam_viewer-container {
	text-align: center;
	height:100%;
	width:100%;
	overflow:hidden;
	display:inline-block;
}

.webcam_viewer-img {
	min-width:100%;
	height:100%;
	position:relative;
}
