// This is where can add your own custom css for your project
//  using all of the zostrap mixins and variables

.zs {

//svgs
$arrow-left: "M99 40.321v19.358h-60.796l17.241 17.544-13.612 13.611-40.833-40.834 40.833-40.833 13.611 13.611-17.24 17.543s45.987.079 60.796 0z";
$map: "M19.815 37.826h14.388l2.918 6.237h-12.979l-14.489 42.46h80.794l-13.985-42.46h-12.879l2.817-6.237h14.388l18.212 55.137h-98zM16.467 70.64c-2.294-1.682-3.173-3.363-3.326-3.684l4.492-3.817s1.637 1.571 2.641 2.307l-3.807 5.194zM30.126 74.46c-2.484-.036-4.793-.307-6.863-.807l1.511-6.26c1.606.388 3.438.599 5.444.627l-.092 6.44zm6.985-.857l-1.603-6.237c1.61-.414 3.371-1.035 5.379-1.899l2.544 5.916c-2.316.996-4.384 1.721-6.32 2.22zm12.096-4.941l-2.856-5.771.644-.319c1.648-.816 3.352-1.661 5.047-2.43l2.658 5.865c-1.593.723-3.173 1.506-4.845 2.334l-.648.321zm26.703-3.023c-1.75-.81-3.518-1.435-5.254-1.857l1.522-6.257c2.143.521 4.308 1.285 6.437 2.271l-2.705 5.843zm-15.838-1.699l-1.818-6.178c2.496-.734 4.783-1.092 6.993-1.092h.023v6.439h-.023c-1.586.001-3.278.273-5.175.831zM84.05 71.4c-.848-1.146-1.716-1.924-3.215-2.952l3.644-5.31c1.858 1.274 3.384 3.163 4.346 4.414l-4.775 3.848zM50.347 7.037c-9.085 0-16.45 7.364-16.45 16.449 0 16.449 16.45 32.419 16.45 32.419s16.448-15.971 16.448-32.419c0-9.085-7.364-16.449-16.448-16.449zm0 26.318c-5.451 0-9.87-4.419-9.87-9.869s4.418-9.869 9.87-9.869c5.45 0 9.868 4.418 9.868 9.869s-4.418 9.869-9.868 9.869z";
$pin: "M50.021 1c-18.199 0-32.952 14.753-32.952 32.951 0 32.951 32.952 64.945 32.952 64.945s32.952-31.994 32.952-64.945c0-18.198-14.754-32.951-32.952-32.951zm0 52.723c-10.919 0-19.771-8.853-19.771-19.771s8.852-19.771 19.771-19.771c10.918 0 19.77 8.852 19.77 19.771s-8.852 19.771-19.77 19.771z";
$pin-outline: "M50 3c16.906 0 30.66 13.754 30.66 30.659 0 27.188-23.441 54.318-30.662 62.028-7.222-7.703-30.658-34.803-30.658-62.028 0-16.905 13.754-30.659 30.66-30.659m0 50.777c11.093 0 20.117-9.024 20.117-20.117s-9.024-20.117-20.117-20.117c-11.092 0-20.117 9.024-20.117 20.117s9.025 20.117 20.117 20.117m0-53.777c-18.59 0-33.66 15.07-33.66 33.659 0 33.659 33.66 66.341 33.66 66.341s33.66-32.682 33.66-66.341c0-18.589-15.071-33.659-33.66-33.659zm0 50.928c-9.536 0-17.267-7.731-17.267-17.268 0-9.535 7.731-17.267 17.267-17.267s17.268 7.731 17.268 17.267c0 9.537-7.732 17.268-17.268 17.268z";
$pin-selected: "M50.021 50.752c-9.278 0-16.801-7.522-16.801-16.8s7.522-16.801 16.801-16.801c9.276 0 16.8 7.522 16.8 16.801 0 9.277-7.523 16.8-16.8 16.8z";

.svg--sidebar-arrow {
	background-image: svg-background($arrow-left,$icon-color);
}

.svg--map-arrow {
	background-image: svg-background($arrow-left,$open-map-icon-color);
}

.svg--caret-left {
	background-image: svg-background($caret-left,$icon-color);
}

.svg--caret-right {
	background-image: svg-background($caret-right,$icon-color);
}

.svg--map {
	background-image: svg-background($map,$icon-color);
}

.svg--pin {
	background-image: svg-background($pin,$pin-color);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100%;
	max-height: 50px;
	max-width: 50px;
	transform: translate(-50%, -100%);
	z-index: 200;
	&:after {
		background-image: svg-background($pin-outline,$white);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	}
}

.svg--pin-selected {
	&:before {
		background-image: svg-background($pin-selected,$pin-selected-color);
		background-size: 100%;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}

.svg--pause {
	background-image: svg-background($pause,$icon-color);
}

.svg--play {
	background-image: svg-background($play,$icon-color);
}

// base styles

button {
	border-radius: 0;
}

.button-play,
.button-next,
.button-previous {
	&:hover {
		background: $button-hover-background;
	}
}

.desktop-map {
	width: 100%;
}

.desktop-map-open-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 50px 50px 0;
	border-color: transparent rgba($white,.7) transparent transparent; // don't use color variable
	.svg--map-arrow {
		position: absolute;
		top: 4px;
		right: -46px;
		transform: rotate(135deg);
	}
}

.footer {
	background: $footer-background;
	color: $text-color;
}

h2 {
	color: $title-color;
}

.left-sidebar {
	background: $left-sidebar-background;
	color: $text-color;
	transition: all 1s;
	.left-sidebar-bottom {
		.button-play {
			right: 51px;
			@include media-query(sm) {
				right: 0;	
				left: 0;	
			}
		}
		.button-previous {
			right: 102px;
			@include media-query(sm) {
				right: auto;	
				left: 0;	
			}
		}
	}
	.left-sidebar-content {
		overflow-x: hidden;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: 24px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 12px;
			box-shadow: inset 0 0 12px 12px rgba($text-color,.3);
			border: solid 6px transparent;
		}
		&::-webkit-scrollbar-thumb:window-inactive {
			box-shadow: inset 0 0 12px 12px rgba($text-color,.3); 
		}
	}
	.left-sidebar-open_close {
		background: $left-sidebar-top-background;
		border-bottom: 1px solid $borders;
	}
}


img {
	display: block;
}

.info-message {
	width: 100%;
	height: 100%;
	& * {
		display: inline-block;
		margin-top: 0px;
		margin-left: 100px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	& > div {
		top: 50%;
		transform: translateY(-50%);
	}
}

.left-sidebar-content {
	margin-top: 50px;
	@include media-query(sm) {
		margin-top: 0;
	}
}

.loader {
	background-color: $loader-background;
	span {
		&::before {
			border: 8px solid rgba($loader, 0.2);
			border-top-color: $loader;
		}
	}
}

.mobile-map-button {
	border-color: $borders;
}

.webcam-iframe {
	font-size: 0px;
}

.webcam-iframe-slideshow-buttons {
	background: $slideshow-buttons-background;
	& > button {
		border-color: $borders;
	}
}

.zs-modal {
	background: $modal-background;
}

// sidebar animation rules

.sidebar-open {
	.mobile-map-button {
		@include media-query(sm) {
			opacity: 0;
			height: 0;
			display: none;
		}
	}
}

.sidebar-transition-close {
	.button-next,
	.button-previous {
		display: none;
	}
	.mobile-map-button {
		opacity: 1;
		height: 50px;
		transition: opacity 1s;	
	}
	.desktop-map {
		opacity: 0;
		display: none;
		.svg--pin {
			display: none;
		}
	}
	.left-sidebar-content {
		opacity: 0;
		height: 0;		
	}
	.left-sidebar-open_close-button {
		transform: rotate(180deg);
		transition: all 1s;
	}
}

.sidebar-close {
	.button-next,
	.button-previous {
		display: none;
	}
	.left-sidebar-content {
		opacity: 0;
		height: 0;
	}
	.left-sidebar-open_close-button {
		transform: rotate(180deg);
		transition: all 1s;
	}
	.desktop-map {
		opacity: 0;
		display: none;
		width: 0;
	}
}

.sidebar-transition-open {
	.button-next,
	.button-previous {
		display: none;
	}
	.desktop-map {
		opacity: 1;
		transition: all 1s;
		.svg--pin {
			display: none;
		}
	}
	.left-sidebar-open_close-button {
		transform: rotate(0deg);
		transition: all 1s;
	}
	.mobile-map-button {
		opacity: 0;
		height: 0;
		display: none;
	}
	.left-sidebar-content {
		opacity: 0;
		height: 0;
	}
}

// map transition styles

.map-transition-open {
	transition: all 1s;
	.svg--map-arrow {
		transform: rotate(315deg);
		transition: all 1s;
	}
}
.map-open {
	.svg--map-arrow {
		transform: rotate(315deg);
		transition: all 1s;
	}
}

.map-transition-close {
	transition: all 1s;
	.svg--map-arrow {
		transform: rotate(135deg);
		transition: all 1s;
	}
}


}