//
// Project Variables 
// --------------------------------------------------

// update the path to find the parts of zostrap that you need
// if you've installed this file in <media-directory>/css then you can uncomment
// line 9 and delete line 10. do the same with lines 118 and 119

@import "../../zostrap/sass/zostrap-before";
//@import "../zostrap-before";

// if you need a specific style prefix to limit the scope of you css you can
//  set it here. the default is ".zs". be sure to add it to your project container div 
$project-prefix: zs;

// set the correct path for the fonts folder which contains the icon font
$icon-path: "../../";

// Add your google fonts here like this:
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

// Attempt to not print useless classes
$generate-input-range-classes: true;

// this is useful if you have a number of different sites using the same code but with different fonts
// since some fonts have relatively different sizes this allows you to style 
// using absolutely classes but in a scalable way
$generate-responsive-text: false !default;

// Colors
$main-color: #2c98d8; // blue
$highlight-color: #195684; // dark blue

// Default user styles
$base-body-background: $white;
$base-font-family: 'Open Sans', arial, helvetica, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.4;
$base-link-color: $highlight-color;
$base-link-color-hover: $main-color;
$base-text-color: $gray-666;

// Secondary user styles
$secondary-font-family: $base-font-family;

// Border
$border-color: $gray-ddd;
$border-radius: 3px;
$border: 1px solid $border-color;

// Buttons
$button-primary-bgcolor: $highlight-color;
$button-primary-color: $white;
$button-primary-radius: 0px;

$button-secondary-bgcolor: $gray-999;
$button-secondary-color: $white;

// Datepicker
$ui-datepicker-bgcolor: $white;
$ui-datepicker-active-bgcolor:$main-color;
$ui-datepicker-active-color: $white;
$ui-datepicker-default-bgcolor: $white;
$ui-datepicker-default-color: $gray-333;
$ui-datepicker-header-bgcolor: $gray-666;
$ui-datepicker-header-color: $gray-fff;
$ui-datepicker-hover-bgcolor: $highlight-color;
$ui-datepicker-hover-color: $white;

// Feedback
$feedback-green: #6fb824;
$feedback-orange: #e6b800;
$feedback-red: #cc0000;

// Footer
$footer-bgcolor: $white;
$footer-link-color: $gray-333;
$footer-text-color: $gray-333;

// Form
$form-addon-bgcolor: $gray-fff;
$form-icon-color: $main-color;
$form-input-bgcolor: $white;
$form-input-border: $gray-ddd;
$form-input-color: $gray-444;
$form-radio-bgcolor: $main-color;

// H1 styles
$h1-color: $main-color;
$h1-font: $base-font-family;
$h1-text-transform: uppercase;

$h2-color: $h1-color;
$h2-font: $base-font-family;

// Header
$header-bgcolor: $gray-444;
$header-border-bottom: 0px solid $white;
$header-box-shadow: none;
$header-link-color: $white;
$header-text-color: $white;

// Input range
$thumb-color: $form-radio-bgcolor;
$thumb-radius: 50%;
$thumb-height: 20px;
$thumb-width: 20px;
$thumb-border: none;

$track-color: $gray-eee;
$track-height: 10px;
$track-border-width: 1px;
$track-border-color: $border-color;
$track-radius: 5px;

// Loader
$loader-bgcolor: rgba($white, .9); 
$loader-color: $main-color;

//Dropdown menu styles
$menu-bgcolor: none;
$menu-icon-color: $main-color;
$menu-li-bgcolor: none;
$menu-li-color: $main-color;
$menu-li-bgcolor-hover: $gray-fff;
$menu-li-color-hover: $main-color;
$menu-submenu-border: $border;
$menu-submenu-bgcolor: $white;
$menu-submenu-li-bgcolor: none;
$menu-submenu-li-color: $highlight-color;
$menu-submenu-li-bgcolor-hover: $gray-fff;
$menu-submenu-li-color-hover: $main-color;

// Mobile menu styles
$header-menu-toggle-button-bgcolor: $feedback-orange;
$header-menu-toggle-button-color: $white;
$mobile-menu-bgcolor: $header-menu-toggle-button-bgcolor;
$mobile-menu-link-color: $header-menu-toggle-button-color;

// Modals
$modal-bgcolor: rgba($white, .9);
$modal-content-bgcolor: $gray-fff;
$modal-content-color: $base-text-color;
$modal-content-border: none;

// Rule
$hr-color: $border-color;

// Svgs
$svg-base-fill: $main-color;
$svg-secondary-fill: $gray-666;

// Tables
$table-border: $border; 
$table-td-bgcolor: $gray-eee;
$table-td-color: $base-text-color;
$table-td-font-size: 16px;
$table-th-bgcolor: $main-color;
$table-th-color: $white;
$table-th-font-size: 16px;

// Tabs
$tabs-alignment: flex-start; //accepted valued: flex-start | flex-end | center | space-between | space-around
$tabs-bgcolor: $gray-eee;
$tab-default-bgcolor: $gray-ddd;
$tab-default-color: $gray-666;
$tab-default-bgcolor-hover: $main-color;
$tab-default-color-hover: $white;
$tab-active-bgcolor: $main-color;
$tab-active-color: $white;
$tabs-panel-bgcolor: $gray-fff;
$tabs-panel-color: $gray-666;

@import "../../zostrap/sass/zostrap-after";
//@import "../zostrap-after";

@import "custom";
