// These are the default colors

// colors
$blue: #05a6c4;
$petrol: #00252e;
$petrol-dark: #00181f;
$red: #ec564f;
$white: #fff;

$borders: rgba($white,.1);
$button-hover-background: $blue;
$footer-background: $petrol;
$icon-color: $white;
$left-sidebar-background: $petrol;
$left-sidebar-top-background: $petrol-dark;
$loader-background: rgba($petrol-dark, .9);
$loader: $blue;
$modal-background: rgba($petrol-dark, .9);
$open-map-icon-color: $petrol;
$pin-color: $petrol;
$pin-selected-color: $red;
$slideshow-buttons-background: $petrol-dark;
$text-color: $white;
$title-color: $white;

@import "../shared/style";
@import "../shared/custom";

